<div class = 'container'>
  <div class = "picture col-sm-4">
    <img src = "../assets/img/picture.jpg">
  </div>
  <div class = "row">
  <div class = "text col-md-4">
    <h3> Hi, Im Haley </h3>
    <h5><em>"The Journey of a thousand miles begins with a single step..."</em></h5>
    <p>
      I'm an aspiring Web Developer currently residing in the Silicon Forest. My roots come from the plains of Montana, where I grew up with a love and passion for everything outdoors. </p>
    <p> Today, I am enthusiastic about learning. Continuous improvement is my mantra, and I can't wait to see where the Junior Developer journey takes me!</p>
  </div>
</div>
</div>
<hr>
<br>
