.container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.picture {
  max-width: 300px;
  max-height: 300px;
  margin: 40px;
  position: relative;
}

.text {
  text-align: center;
  margin-left: 10%;
}
