.container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.picture {
  max-width: 300px;
  max-height: 300px;
  float: left;
  margin-top: 0
}

.text {
  text-align: center;
  margin-left: 10%;
}
