<div class = 'container'>
  <h3> Hi, Im Haley </h3>
  <h5><em>"The Journey of a thousand miles begins with a single step..."</em></h5>
  <div class = "picture">
    <img src = "../assets/img/haley.jpg"
  </div>
    <p>
      I'm an aspiring Web Developer currently residing in the Silicon Forest. My roots come from the plains of Montana, where I grew up with a love and passion for everything outdoors. I have carried that passion to many corners of the world, including my second home of Denmark, where I lived and studied for 8 months. </p>
    <p> Today, I am enthusiastic about learning. Continuous improvement is my mantra, and I can't wait to see where the Junior Developer journey takes me!</p>
</div>
<hr>
<br>
