<h2>Recent Projects</h2>
<hr>
<div class =  "container">
  <div class = "row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/gothere.png">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h5>GoThere</h5>
          <p>This app utilizes Angular2, the GoogleMaps API, and the Recreation.gov API to allow users to plan an adventure to many National Parks within the Northwest.</p>
        </div>
        <div class="card-action">
          <a href="https://haleyswain.github.io/road-trip-planner/">View GoThere</a>
        </div>
        </div>
  </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/playlist.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <h5>Learning Playlist</h5>
              <p>The Learning Playlist allows students and teachers to build their own personalized curriculum, which consists of Playlists. Each playlist contains many lessons, which utilize external links to online resources, like Learn How to Program, Treehouse, or a Kahn Academy lesson.</p>
            </div>
            <div class="card-action">
              <a href="http://learning-playlist.herokuapp.com/">View The Learning Playlist</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-image">
              <img src="assets/img/gummybear.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <h5>Gummy Bear Kindgom</h5>
              <p>This website utilizes Ruby on Rails to allow the citizens of Gummy Bear Kingdom to create their own dating profile, including their names, what color they are, and the average number of burritos they eat each week.</p>
            </div>
            <div class="card-action">
              <a href="https://pacific-taiga-23536.herokuapp.com/">Visit Gummy Bears Mingle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <app-skills></app-skills>
