
.card {
  float: none;
  display: inline-block;
  text-align: initial;
  margin-bottom: 20%;
  width: 300px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.row {
  align-items: center;
}
