<div class =  "container">
  <div class = "row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/img/gothere.png">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h5>GoThere</h5>
          <p>This app utilizes Angular2, the GoogleMaps API, and the Recreation.gov API to allow users to plan an adventure to many National Parks within the Northwest.</p>
        </div>
        <div class="card-action">
          <a href="https://haleyswain.github.io/road-trip-planner/">View GoThere in gh-pages</a>
        </div>
        </div>
  </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-image">
              <img src="../assets/img/playlist.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <h5>Learning Playlist</h5>
              <p>The Learning Playlist allows students and teachers to build their own personalized curriculum, which consists of Playlists. Each playlist contains many lessons, which utilize external links to online resources, like Learn How to Program, Treehouse, or a Kahn Academy lesson.</p>
            </div>
            <div class="card-action">
              <a href="http://learning-playlist.herokuapp.com/">View The Learning Playlist</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card">
            <div class="card-image">
              <img src="https://static.pexels.com/photos/115045/pexels-photo-115045.jpeg">
              <span class="card-title">Doctor Code Review</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div> -->
        </div>
      </div>
